.user-details {
  display: grid;
  gap: 10px;
}

.grid {
  display: grid;
  gap: 10px;
}

.grid select {
  float: right;
}

.input-container {
  display: flex;
  gap: 5px;
  float: right;
}

.input-container>input,
.input-container>button {
  width: 125px;
  text-align: center;
}

.default-modal {
  padding: 20px;
  max-height: 650px;
  overflow-y: auto;
}

.default-modal h3 {
  margin-top: 0px;
}