.nav-bar {
    display: flex;
    align-items: flex-start;
}

.nav-bar>a {
    background-color: var(--darker);
}

.nav-button {
    flex: 1;
    text-align: center;
    border: 1px solid lightgray;
    color: lightgray;
    text-decoration: none;
}

.nav-button:hover {
    background-color: var(--dark);
}

.selected-nav-button {
    border: 1px solid var(--green);
    color: var(--green);
    font-weight: bold;
}

.header {
    padding-bottom: 2px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 5px;
    font-weight: bold;
    border-bottom: 1px solid white;
}