.nav-bar {
    display: flex;
    align-items: flex-start;
}

.nav-bar>a {
    background-color: var(--darker);
}

.nav-button {
    flex: 1;
    text-align: center;
    border: 1px solid lightgray;
    color: lightgray;
    text-decoration: none;
}

.nav-button:hover {
    background-color: var(--dark);
}

.selected-nav-button {
    border: 1px solid var(--green);
    color: var(--green);
    font-weight: bold;
}

.header {
    padding-bottom: 2px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 5px;
    border-bottom: 1px solid white;
}

.header>label {
    font-weight: bold;
    cursor: pointer;
}

.header>label:hover,
.header>svg:hover {
    color: var(--blue);
}

.email-form {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: normal;
}

.password-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: normal;
}

.password-form input {
    float: right;
}