:root {
    --dark: #282a2e;
    --darker: #1d1f21;
    --green: #b5bd68;
    --purple: #b294bb;
    --blue: #81a2be;
}

body {
    min-width: 650px;
    margin: 25px 50px;
    background-color: var(--dark);
    color: white;
}

button,
input,
select {
    background-color: var(--darker);
    color: white;
    border-radius: 15px;
}

h1,
h2,
h3 {
    text-align: center;
}

button:disabled {
    opacity: 50%;
    color: lightgray;
}

table {
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    border: 2px solid lightgray;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 25px;
    text-align: center;
}

table button {
    width: 100%;
}

table th:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

table tr {
    position: relative;
}

table tr:nth-child(n+3):nth-child(2n) {
    background-color: var(--darker);
}

table tr:nth-child(n+3):hover {
    background-color: black;
    color: white !important;
}

ul {
    margin: 0px;
}

li {
    margin: 5px 0px;
}

.modal {
    background-color: var(--dark);
    border: 2px solid var(--green);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}

.default-modal {
    padding: 20px;
    max-height: 650px;
    overflow-y: auto;
}

.default-modal h3 {
    margin-top: 0px;
}

.alert {
    display: grid;
    padding: 0px 20px;
}

.alert span {
    justify-self: end;
    margin: 20px 0px;
}

.alert span>button {
    width: 80px;
    margin: 0px 5px;
}

.nav-bar {
    display: flex;
    background-color: var(--darker);
}

.nav-bar>svg {
    cursor: pointer;
    margin-left: 5px;
    background-color: var(--dark);
}

.nav-button {
    flex: 1;
    text-align: center;
    border: 1px solid lightgray;
    color: lightgray;
    text-decoration: none;
}

.nav-button:hover {
    background-color: var(--dark);
}

.selected-nav-button {
    border: 1px solid var(--green);
    color: var(--green);
    font-weight: bold;
}

.error {
    color: red;
    font-size: small;
    font-weight: bold;
}