.user-details {
  display: grid;
  gap: 10px;
}

.user-add-form {
  display: grid;
  gap: 10px;
}

.user-add-form select {
  float: right;
}

.input-container {
  display: flex;
  gap: 5px;
  float: right;
}

.input-container>input {
  width: 125px;
  text-align: center;
}